/** ─── Componentes ────────────────────────────────────────────────────────────────────────── */

/*? ─── Buttons ───────────────────────────────────── */

/* ___________________________
 * button-gold-simple */
.btn-remake {
    background-color: var(--custom-gold);
    border: none;
    border-radius: 0.5rem;
    font-weight: bolder;
    text-decoration: none;
    width: fit-content !important;
    padding: 0.4rem 0.5rem !important;
    cursor: pointer;
    transition: 0.1s;
}
.btn-remake, .btn-remake * {
    color: #1a1c20 !important;
}
.btn-remake:hover { /*hover*/
    background-color: #e1c752;
}

/* ___________________________
 * button-copy-password */
.btn-copy-pass {
    right: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: end;
    height: 100%;
    align-items: center;
}

/*? ─── Text-Field ───────────────────────────────────── */

.txt-field-custom-1 {
    background-color: var(--custom-subtle-blue);
    border-radius: 0.3rem;
    padding: 0.5rem 1.9rem 0.5rem 0.5rem;
    text-align: start;
    font-size: 1rem;
    cursor: pointer;
    width: 450px;
    height: 60px;
    border: 1px solid var(--custom-white);
    border-bottom-width: 2px;
}

.field-copy-pass:hover .txt-field-custom-1 {
    border-color: var(--custom-gold);
}

/*? ─── Range ───────────────────────────────────── */

/*********** Baseline, reset styles ***********/
.range-custom-1 {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

/* Removes default focus */
.range-custom-1:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.range-custom-1::-webkit-slider-runnable-track {
    background-color: var(--custom-subtle-blue);
    border-radius: 0.5rem;
    height: 25px;
}

/* slider thumb */
.range-custom-1::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    background-color: var(--custom-gold);
    border-radius: 1.5rem;
    height: 20px;
    width: 20px;
}

.range-custom-1:focus::-webkit-slider-thumb {
    outline: 3px solid var(--custom-gold);
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
.range-custom-1::-moz-range-track {
    background-color: var(--custom-subtle-blue);
    border-radius: 0.5rem;
    height: 25px;
}

/* slider thumb */
.range-custom-1::-moz-range-thumb {
    background-color: var(--custom-gold);
    border: none; /*Removes extra border that FF applies*/
    border-radius: 1.5rem;
    height: 20px;
    width: 20px;
}

.range-custom-1:focus::-moz-range-thumb{
    outline: 3px solid var(--custom-gold);
    outline-offset: 0.125rem;
}