/** ─── Propriedades Customizadas ────────────────────────────────────────────────────────────────────────── */

:root {
    /* Tons escuros */
    --custom-dark-grey: #1c1c1c;
    --custom-subtle-dark: #131312;
    --custom-dark: #0f0f0e;
    --custom-black: #0b0a0a;

    /* Tons cinza */
    --custom-grey: #808080;
    --custom-subtle-blue: #252431;

    /* Tons claros */
    --custom-alice: #f0f8ff;
    --custom-white: #ffffff;
    --custom-subtle-white: #ddd;
    --custom-subtle-white-lighter: #f0f0f0;

    /* Tons coloridos */
    --custom-gold: #ffe25c;
}

/** ─── Classes Customizadas ────────────────────────────────────────────────────────────────────────── */

/* _________________
 * colors-background */
.cbc-subtle-dark {
    background-color: var(--custom-dark);
}
.cbc-black {
    background-color: var(--custom-black);
}

/* _____
 * fonts */
.cfs-tiny {
    font-size: 0.7rem;
}
.cfs-semimedium {
    font-size: 0.8rem;
}

/* ______
 * layout */
.align-end {
    display: flex;
    justify-content: end;
}

.p-section {
    padding: 8rem 0 5rem;
}

/** ─── Estilos Globais ────────────────────────────────────────────────────────────────────────── */

* {
    color: var(--custom-subtle-white-lighter) !important;
}

html {
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--custom-subtle-dark) !important;
    font-family: 'Inter', sans-serif !important;
}

main {
    flex: 1;
    margin: 5rem 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/** ─── Componentes ────────────────────────────────────────────────────────────────────────── */

/*? ─── Text ───────────────────────────────────── */

#randomText {
    transition: opacity 0.5s ease-in-out;
    font-size: 120px;
    background-color: var(--custom-black);
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
    color: var(--custom-subtle-white) !important;
}

/*? ─── Modal ───────────────────────────────────── */

/* _______________
 * bootstrap-modal */
.modal-header {
    border: none !important;
}
.modal-content {
    background-color: var(--custom-subtle-dark) !important;
    border-radius: 0.3rem !important;
    padding: 0.2em;
}

/*? ─── Buttons ───────────────────────────────────── */

/* ________________________________
 * button-blank */
.button-blank {
    background-color: transparent;
    border: none;
}

/* ________________________________
 * button-large-light-glow */
.btn-lg-light-glow {
    background-color: var(--custom-white);
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 45px;
    text-decoration: none;
    width: 430px;
    height: 95px;
    padding: 1rem;
}
.btn-lg-light-glow, .btn-lg-light-glow * {
    color: #26241f !important;
    transition: transform 0.3s cubic-bezier(.18,.89,.32,1.28), box-shadow 0.3s cubic-bezier(.22,.61,.36,1);
}
.btn-lg-light-glow:hover { /*hover*/
    box-shadow: 0 40px 80px #ffffff1a;
}
.btn-lg-light-glow:hover i { /*hover*/
    transform: translateY(5px);
}

/* _______________________________
 * button-light-simple */
.btn-light-simple {
    background-color: var(--custom-white);
    border: none;
    border-radius: 0.8rem;
    font-weight: bold;
    width: 180px;
    padding: 0.5rem 0;
    transition: 0.2s ease;
}
.btn-light-simple, .btn-light-simple i {
    color: var(--custom-black) !important;
}
.btn-light-simple:hover { /*hover*/
    box-shadow: 0 10px 40px #ffffff0c;
}

/* ___________________________
 * button-gold-simple */
.btn-gold-simple {
    background-color: var(--custom-gold);
    border: none;
    border-radius: 0.5rem;
    font-weight: bolder;
    text-decoration: none;
    width: fit-content !important;
    padding: 0.4rem 0.5rem !important;
    cursor: pointer;
    transition: 0.1s;
}
.btn-gold-simple, .btn-gold-simple * {
    color: #1a1c20 !important;
}
.btn-gold-simple:hover { /*hover*/
    background-color: #e1c752;
}

/* ______________________
 * button-3d-dark */
.btn-dark3d {
    background-color: var(--custom-black);
    box-shadow: 0 5px 0 var(--custom-dark-grey), 0 15px 15px #0000004c;
    border: 4px solid var(--custom-dark-grey);
    border-radius: 1rem;
    font-weight: bold;
    width: 200px;
    padding: 0.5rem;
}
.btn-dark3d {
    color: var(--custom-subtle-white) !important;
    transition: 0.2s ease;
}
.btn-dark3d:active { /*active*/
    box-shadow: 0 5px 0 var(--custom-dark-grey);
    transform: translateY(5px);
}

/*? ─── Links ───────────────────────────────────── */

/* _____________
 * blank-link */
.link-blank:hover {
    color: var(--custom-white) !important;
}

/* ____________________
 * navbar-link-custom-1 */
.nav-link-1:hover { /*hover*/
    text-decoration: underline;
}

/* _____________
 * custom-simple */
.link-simple {
    transition: 0.1s;
    text-decoration: none;
    margin: 0.2rem 0;
}
.link-simple:hover { /*hover*/
    color: var(--custom-white) !important;
    text-decoration: underline;
}

/* ___________________________
 * link-list */
.link-list {
    background-color: transparent;
    border: none;
    border-radius: 0.8rem;
    font-weight: 600;
    text-align: start;
    width: 450px;
    margin: 0.4rem 0;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    padding-left: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 50ms;
}
.link-list:hover { /*hover*/
    background-color: var(--custom-dark);
}

/*? ─── HRs ───────────────────────────────────── */

.separator-dots {
    border: 2px dashed var(--custom-grey);
}

.separator {
    border: none;
    margin: 6rem 0;
}
.separator-2 {
    border: none;
    margin: 3rem 0;
}

/*? ─── Codes ───────────────────────────────────── */

.code-custom-1 {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--custom-subtle-blue);
    border-radius: 0.3rem;
    padding: 0.5rem 1.9rem 0.5rem 0.5rem;
    font-family: 'Source Code Pro', monospace;
    text-align: start;
    font-size: 0.8rem;
    letter-spacing: -1px;
    word-spacing: -2px;
}

/*? ─── Icons ───────────────────────────────────── */

.icon-custom-1 i {
    transition: 30ms;
}
.icon-custom-1:hover i { /*hover*/
    color: #ffd44d !important;
}

/*? ─── Images ───────────────────────────────────── */

.img-tilt {
    transform: rotate(5deg);
}

/** ─── Responsividade ────────────────────────────────────────────────────────────────────────── */

@media (max-width: 991px) {
    #navTitle {
        display: none;
    }
    .divRandomText {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 575px) {
    .divRandomText {
        display: none;
    }
}