/** ─── Propriedades Customizadas ────────────────────────────────────────────────────────────────────────── */

:root {
    --cbc-black: #060606;
}

/** ─── Classes Customizadas ────────────────────────────────────────────────────────────────────────── */

/* _________________
 * colors-background */
.cbc-black {
    background-color: var(--cbc-black);
}

/* _____
 * fonts */
.cfs-tiny {
    font-size: 0.7rem;
}
.cfs-semimedium {
    font-size: 0.8rem;
}

/* ______
 * layout */
.align-end {
    display: flex;
    justify-content: end;
}

/** ─── Estilos Globais ────────────────────────────────────────────────────────────────────────── */

* {
    color: #f0f0f0 !important;
}

html {
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #131312 !important;
    font-family: 'Inter', sans-serif !important;
}

main {
    flex: 1;
    margin: 5rem 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/** ─── Componentes ────────────────────────────────────────────────────────────────────────── */

/*? ─── Text ───────────────────────────────────── */

#randomText {
    transition: opacity 0.5s ease-in-out;
    font-size: 120px;
    background-color: #000000c4;
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
    color: #ddd !important;
}

/*? ─── Modal ───────────────────────────────────── */

/* _______________
 * bootstrap-modal */
.modal-header {
    border: none !important;
}
.modal-content {
    background-color: #151515 !important;
    border-radius: 0.3rem !important;
    padding: 0.2em;
}

/*? ─── Buttons ───────────────────────────────────── */

/* ________________________________
 * button-blank */
.button-blank {
    background-color: transparent;
    border: none;
}

/* ________________________________
 * button-custom-large-glowing-link */
.btn-1 {
    height: 95px;
    width: 430px;
    font-size: 45px;
    background-color: white;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-1, .btn-1 * {
    color: #26241f !important;
    transition: transform 0.3s cubic-bezier(.18,.89,.32,1.28), box-shadow 0.3s cubic-bezier(.22,.61,.36,1);
    justify-content: space-between;
}
.btn-1:hover { /*hover*/
    box-shadow: 0 40px 80px rgba(255, 255, 255, 0.1);
}
.btn-1:hover i { /*hover*/
    transform: translateY(5px);
}
.btn-1:active, .btn-1:active * { /*active*/
    color: #b78e13 !important;
}

/* _______________________________
 * button-custom-opaque-arrow-gold */
.btn-2 {
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    border: 2px solid aliceblue;
    display: flex;
    align-items: center;
}
.btn-2, .btn-2 * {
    color: aliceblue !important;
    transition: 0.3s cubic-bezier(.17,.84,.44,1);
}
.btn-2:hover { /*hover*/
    border-color: #ba8f22;
}
.btn-2:hover i { /*hover*/
    transform: translateX(5px);
}
.btn-2:active, .btn-2:active i { /*active*/
    color: #ffd700 !important;
}

/* ______________________
 * button-custom-bee-gold */
.btn-3 {
    background-color: #ffe779;
    border: none;
    box-shadow: 0 5px 0 #f8ab5d;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    width: 200px;
}
.btn-3, .btn-3 i {
    color: #1a1c20 !important;
    transition: 0.1s ease;
}
.btn-3:hover, .btn-3:hover i { /*hover*/
    color: #47958b !important;
}
.btn-3:active { /*active*/
    box-shadow: none;
    transform: translateY(5px);
}

/* ___________________________
 * button-custom-listlink-gold */
.btn-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 450px;
    text-align: start;
    margin: 0.4rem 0;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    border-radius: 0.7rem;
    background-color: transparent;
    border: 2px solid transparent;
    padding-left: 0.8rem;
    font-weight: 600;
}
.btn-5, .btn-5 i {
    transition: 0.1s ease, background-color 30ms;
}
.btn-5:hover { /*hover*/
    background-color: #1e1b18;
}
.btn-5:active { /*active*/
    background-color: #2f2a26;
}

/* ___________________________
 * button-custom-listlink-lightgold */
.btn-6 {
    font-weight: bolder;
    width: fit-content !important;
    padding: 0.4rem 0.5rem !important;
    border-radius: 0.5rem;
    border: none;
    background-color: #ffe779;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
}
.btn-6, .btn-6 * {
    color: #1a1c20 !important;
}
.btn-6:hover {
    background-color: #e2cb67;
}

/*? ─── Links ───────────────────────────────────── */

/* ____________________
 * navbar-link-custom-1 */
.nav-link-1:hover { /*hover*/
    text-decoration: underline;
}

/* _____________
 * blank-link */
.link-blank:hover {
    color: white !important;
}

/* _____________
 * custom-link-1 */
.link-1 {
    transition: 0.1s;
    text-decoration: none;
    margin: 0.2rem 0;
}
.link-1:hover { /*hover*/
    color: white !important;
    text-decoration: underline;
}

/*? ─── HRs ───────────────────────────────────── */

.separator {
    border: none;
    margin: 6rem 0;
}
.separator-2 {
    border: none;
    margin: 3rem 0;
}

/*? ─── Codes ───────────────────────────────────── */

.code-custom-1 {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #252431;
    border-radius: 0.3rem;
    padding: 0.5rem 1.9rem 0.5rem 0.5rem;
    font-family: 'Source Code Pro', monospace;
    text-align: start;
    font-size: 0.8rem;
    letter-spacing: -1px;
    word-spacing: -2px;
}

/*? ─── Icons ───────────────────────────────────── */

.icon-custom-1 i {
    transition: 30ms;
}
.icon-custom-1:hover i {
    color: #ffd44d !important;
}

/** ─── Responsividade ────────────────────────────────────────────────────────────────────────── */

@media (max-width: 991px) {
    #navTitle {
        display: none;
    }
    .divRandomText {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 575px) {
    .divRandomText {
        display: none;
    }
}