/** ─── Propriedades Customizadas ────────────────────────────────────────────────────────────────────────── */


/** ─── Classes Customizadas ────────────────────────────────────────────────────────────────────────── */

/* fonts */
.cfs-tiny {
    font-size: 0.7rem;
}
.cfs-semimedium {
    font-size: 0.8rem;
}

/* layout */
.align-end {
    display: flex;
    justify-content: end;
}

/** ─── Estilos Globais ────────────────────────────────────────────────────────────────────────── */

* {
    color: #f0f0f0 !important;
}

html {
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #131312 !important;
    font-family: 'Inter', sans-serif !important;
}

main {
    flex: 1;
    margin-bottom: 5rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/** ─── Componentes ────────────────────────────────────────────────────────────────────────── */

/*? ─── Modal ───────────────────────────────────── */

/* bootstrap-modal */
.modal-header {
    border: none !important;
}
.modal-content {
    background-color: #151515 !important;
    border-radius: 0.3rem !important;
}

/*? ─── Links ───────────────────────────────────── */

/* navbar-link-custom-1 */
.nav-link-1:hover { /*hover*/
    text-decoration: underline;
}

/* custom-link-1 */
.link-1 {
    transition: 0.1s;
    text-decoration: none;
    margin: 0.2rem 0;
}
.link-1:hover { /*hover*/
    color: white !important;
    text-decoration: underline;
}

/** ─── Responsividade ────────────────────────────────────────────────────────────────────────── */

@media (max-width: 991px) {
    #navTitle {
        display: none;
    }
}